.worksheetPageTable {
		padding-top:3px;
		font-size: 12px;
		background-color:#999999;
		border:0px;
		color: #FFFFFF;	
	}
	
	.maintable {
		font-size: 12px;
		border:0px;
		color: #FFFFFF;	
	}
	.infotitle {
		height:25px;
		font-size: 12px;
		border:0px;
		padding-left:3px;
		padding-right:1px;
		vertical-align:middle;
		color: #FFFFFF;
		background-color:#555555;
	}
	.dealbuttoninfo {
		height:25px;
		font-size: 12px;
		border:0px;
		vertical-align:middle;
		color: #FFFFFF;
		background-color:#222222;
	}
	.worksheetFieldTd {
		padding-left:10px;
		padding-right:1px;
		padding-bottom:1px;
		padding-top:1px;
		vertical-align:middle;
	}
	.worksheetFieldLabel {
		width:30%; 
		padding-left:10px;
		padding-right:1px;
		padding-bottom:1px;
		padding-top:6px;
		vertical-align:text-top;
	}
	.worksheetFieldValue {
		width:70%; 
		padding-left:1px;
		padding-right:1px;
		padding-bottom:3px;
		padding-top:3px;
		vertical-align:middle;
	}
	.worksheetFieldValueInputOneline {
		height:16px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		color: #ffffff;
		background-color:#333333;
		border:1px solid #444444;
		word-break:break-all

	}
	.worksheetFieldValueInputTwoline {
		height:26px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		color: #ffffff;
		background-color:#333333;
		border:1px solid #444444;
		word-break:break-all
	}
	.worksheetFieldValueInputTwolineSelect {
		height:26px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:90%; 
		word-break:break-all
	}
	.worksheetFieldValueInputMoreline {
		height:45px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		color: #ffffff;
		background-color:#333333;
		border:1px solid #444444;
		word-break:break-all

	}
	.worksheetFieldValueInputMostline {
		height:90px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		color: #ffffff;
		background-color:#333333;
		border:1px solid #444444;
		word-break:break-all

	}
	.worksheetDealInfoMoreline {
		height:15px;
		padding-left:10px;
		padding-right:1px;
		padding-bottom:1px;
		padding-top:1px;
		vertical-align:middle;
	}
	.worksheetFieldValueInputOnelineEnable {
		height:16px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		word-break:break-all
	}
	.worksheetFieldValueInputOnelineEnableSelect {
		height:16px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:90%; 
		word-break:break-all
	}
	.worksheetFieldValueInputMorelineEnable {
		height:45px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		word-break:break-all
	}
	.worksheetdealButton {
		padding-left:5px;
		padding-right:5px;
		padding-bottom:2px;
		padding-top:2px;
		vertical-align:middle;
	}
	.worksheetLeftNum {
		padding-left:6px;
		width:20px;
		font-weight: bold;
	}
	.worksheetRightMore {
		width:20px;
	}
	.worksheetMore {
			
	}
	.selectEnable {
		height:25px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:49%; 
		word-break:break-all
	}
	
	.selectLineEnable {
		height:25px;
		padding-left:1px;
		padding-right:1px;
		vertical-align:middle;
		width:98%; 
		word-break:break-all
	}
	.worksheetLine {
		color:#FFFFFF;
		border-style:inset;
		height:1;
	}
	html,body
	{
		height:100%;
		width:100%;
	}
	.divfull
	{
		width:100%;
		height:100%;
		background-color: #000000;
	}