<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- 监听ip地址 -->
    <configitem name="IP_ADDRESS">localhost</configitem>
    
    <!-- tcp监听端口 -->
    <configitem name="TCP_PORT">5000</configitem>
    
    <!-- udp监听端口 -->
    <configitem name="UDP_PORT">55551</configitem>
    
    <!-- udp发送数据端口 -->
    <configitem name="UDP_SEND_PORT">37213</configitem>
    
    <!-- tcp服务端处理线程数量 -->
    <configitem name="TCP_THREAD_COUNT">50</configitem>
    
    <!-- 用户在线扫描线程间隔(秒) -->
    <configitem name="USERONLINE_SCAN_INTERVAL">55</configitem>
    
    <!-- 在线用户超时时间(秒) -->
    <configitem name="USERONLINE_TIMEOUT">60</configitem>
    
</config>
