<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eoms.mobile"
    android:versionCode="1"
    android:versionName="1.0.0" >
    <instrumentation
        android:name="daiwei.mobile.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="daiwei.mobile.db" />

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- 
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	 -->
    <application
        android:name="daiwei.mobile.activity.BaseApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:debuggable="true" >
        <uses-library android:name="android.test.runner" />
       <meta-data android:name="com.amap.api.v2.apikey" 
              	   android:value="dc0def8d561963656543f42a2d2bf1f6"/>   
        <activity
            android:name="daiwei.mobile.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
				<action android:name="com.inspur.zsyw.APP" />
				<category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
            
            
        </activity>
        <activity
            android:name="daiwei.mobile.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan" 
            >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdListActivity"
            android:screenOrientation="portrait" 
            />
        <activity
            android:name="daiwei.mobile.activity.SettingActivity"
            android:screenOrientation="portrait" 
           />
        <activity
            android:name="daiwei.mobile.activity.GdTyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdFdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdBugActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdTsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.XjZfzActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.XjZfzLineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.XjMessageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdPfActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdReplytyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdReplygzActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdReplyfdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdReplytsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GdBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.JsMessResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.YhHisResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.YhActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.BaseTmpActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="daiwei.mobile.activity.XjLineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.BaseHandleActivity"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustResize" 
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>
        <activity
            android:name="daiwei.mobile.activity.DialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
            <activity
            android:name="daiwei.mobile.activity.YhTmpActivity"
            android:screenOrientation="portrait"
     		>
        </activity>
		  <activity
            android:name="daiwei.mobile.activity.YhHandleActivity"
            android:screenOrientation="portrait"
     		>
        </activity>
         <activity
            android:name="daiwei.mobile.activity.XjTmpActivity"
            android:screenOrientation="portrait"
     		>
        </activity>
        <activity
            android:name="daiwei.mobile.activity.NoticeTmpActivity"
            android:screenOrientation="portrait"
            >
        </activity>
         <activity
            android:name="daiwei.mobile.activity.AboutActivity"
            android:screenOrientation="portrait"
     		>
        </activity>
        <activity 
            android:name="daiwei.mobile.activity.Rim"
               android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="daiwei.mobile.activity.MicActivity"
              android:screenOrientation="portrait"
            >
        </activity>
         <activity
            android:name="daiwei.mobile.activity.DialogVersonActivity"
            android:screenOrientation="portrait"           
            android:theme="@android:style/Theme.Dialog"
            >            
        </activity>
           <activity
            android:name="daiwei.mobile.activity.MapViewActivity"
            >            
        </activity>
         <activity
            android:name="daiwei.mobile.activity.YhMapViewActivity"
            >            
        </activity>
		<service android:name="daiwei.mobile.service.GetGPSService"></service>
		<service android:name="daiwei.mobile.service.TudeUpLoadService"></service>
        <!--
        <service android:name="daiwei.mobile.service.GetNoticeViewService" >
        </service>
        -->
        <service android:name="daiwei.mobile.service.BootService" >
        </service>
		<!-- 附件自动上传服务 -->
        <service android:name="daiwei.mobile.service.AutoUploadService" />
		<!-- widget刷新服务 -->
        <service android:name="daiwei.mobile.service.UpdateWidgetService" />
        <!-- 上传位置服务 -->
        <service android:name="daiwei.mobile.service.SiteUploadService" />
        <receiver android:name="daiwei.mobile.receiver.MyAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="daiwei.mobile.widget.pageup.click" />
                <action android:name="daiwei.mobile.widget.pagedown.click" />
                <action android:name="daiwei.mobile.widget.refresh.click" />
                <action android:name="daiwei.mobile.widget.set.click" />
                <action android:name="daiwei.mobile.widget.item.click" />
                <action android:name="daiwei.mobile.widget.gonggao.click"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service android:name="com.baidu.location.f" android:enabled="true"
			android:process=":remote">
           <intent-filter>  
       <action android:name="com.baidu.location.service_v2.6"></action>  
   </intent-filter>  
            
		</service>
		<!-- 手机重启的广播，开启BootService服务拦截短信 
		
        <receiver android:name="daiwei.mobile.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>  
        <receiver android:name="daiwei.mobile.receiver.SmsReceiver" >
            <intent-filter android:priority="10000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>